body {
    font-family: "Noto Sans Arabic", sans-serif;
}
.header_content-user {
    letter-spacing: 0;
}

.header_personal {
    top: 1;
    left: 0rem;
    right: initial;
    transform: scaleX(-1);
}

@media (max-width: 1200px) {
    .header_personal {
        top: 1;
        left: 1;
        right: initial;
        transform: scaleX(-1) !important;
    }
}

@media (max-width: 575.98px) {
    .header_personal {
        left: 30%;
        margin-bottom: 2rem;
    }
}

.header_content {
    position: absolute;
    z-index: 3;
}

@media only screen and (max-width: 767px) {
    .header_content {
        top: 40%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .header_content-wrap {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2rem;
    }

    .header_content-wrap-info {
        color: #fff;
    }

    .header_personal {
        left: -2rem;
        transform: scaleX(-1) !important;
        right: initial;
    }

    .btn-close {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    a.navbar-brand.logo > img:last-first {
        width: 30px;
    }

    a.navbar-brand.logo > img:last-child {
        width: 80px;
    }
}

@media (max-width: 575.98px) {
    .header_personal {
        left: -10% !important;
        top: 50% !important;
        transform: scaleX(-1) !important;
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        text-align: initial !important;
        padding: 0px !important;
    }

    .footer_title {
        margin-top: 2rem;
    }
}

.case-study .card-link,
.work_alert,
.case-study_project,
.contact-section_small {
    letter-spacing: 0px;
}

.about-header_small,
.services_small,
.experience_small {
    letter-spacing: 0;
}
