<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteBase /

    RewriteCond %{HTTP_HOST} ^www\. [NC]
    RewriteRule ^(.*)$ %{HTTP_HOST}$1 [C]
    RewriteRule ^www\.(.*)$ http://$1 [L,R=301]
    # # Force WWW. when no subdomain in host
    # RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$ [NC]
    # RewriteCond %{HTTPS}s ^on(s)|off [NC]
    # RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # Remove WWW. when subdomain(s) in host
    RewriteCond %{HTTP_HOST} ^www\. [NC]
    RewriteCond %{HTTPS}s ^on(s)|off [NC]
    RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)(.+\.)(.+\.)(.+)$ [NC]
    RewriteRule ^ %1%3%4%5%{REQUEST_URI} [R=301,L]


    # END HTTPS Redirect

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
